<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/oap5ojy.css">
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
</head>

{{# TODO: Multiple background images, adjustable per page #}}
<body class="bg-white font-sans leading-normal text-tertiary-dark">
    {{ partial:header }}
    {{ partial:content }}
    {{ partial:footer }}
    <script src="{{ mix src='/js/site.js' }}"></script>
</body>

</html>