<div class="flex flex-col xl:flex-row xl:items-center justify-between 4xl:justify-start">
    <div class="px-6 sm:px-0 mb w-full sm:w-3/4 lg:w-1/2 4xl:w-1/3">
        <h1>Oeps!</h1>
        <p class="mb">Er ging iets mis. Klik op de knop om naar de homepagina te gaan of gebruik het menu om door de website te navigeren.</p>
        <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-6">
            {{ partial:buttons/primary link="/" class="w-full sm:w-auto" button_class="w-full" }}Ga naar de homepagina{{ /partial:buttons/primary }}
        </div>
    </div>
</div>