
{{ banner = { partial:if_exists src="banners/{ slug }" } }}

<script>
// Menu toggle
function isiOS() {
    return (
        ['iPad Simulator', 'iPhone Simulator', 'iPod Simulator', 'iPad', 'iPhone', 'iPod'].includes(navigator.platform) ||
        (navigator.userAgent.includes('Mac') && 'ontouchend' in document)
    );
}

function menu() {
    return {
        open: false,
        disabled: true,
        init() {
            this.disabled = false;
        },
        toggleMenu() {
            const content = document.querySelector('.frontend');
            this.disabled = true;
            this.open = !this.open;
            if (this.open === true) {
                content.style.position = 'fixed';
                content.style.top = `-${window.pageYOffset}px`;
                // Fixes bug in Safari iOS 15.2 where screen height is not fully filled due to empty space address bar on bottom
                if(isiOS() === true) document.documentElement.style.height = window.innerHeight + 'px';
            } else {
                content.style.removeProperty('position');
                content.style.removeProperty('top');
                window.scrollTo(0, window.pageYOffset);
                if(isiOS() === true) document.documentElement.style.removeProperty('height');
            }
            this.disabled = false;
        },
    };
}
</script>

<header class="fixed w-screen z-[999] {{ banner ? 'xl:bg-primary-accent': 'xl:bg-white' }}">

    {{# Desktop navigation #}}
    <div class="container mx-auto hidden xl:flex flex-col items-center justify-center p-10 pb-4">
        <nav class="animated hidden xl:flex w-full space-x-10 align-middle h-20" x-cloak>
            {{ partial:navigation show_home_logo="true" active_class="text-primary-accent" class="" :style="banner ?= 'contrast'" }}
        </nav>
    </div>

    {{# Mobile navigation #}}
    <div class="relative xl:hidden pt-4 mr-4 js-alpine-init" x-data="menu()" x-init="init()" x-cloak role="navigation">
        {{# Toggle button #}}
        <div class="flex items-center justify-end">
            <button type="button" @click="toggleMenu()" disabled x-bind:disabled="disabled" class="inline-flex items-center justify-center w-12 h-12 transition duration-150 ease-in-out rounded-md svg-fill text-grey-500 hover:text-grey-500 hover:bg-grey-100 focus:outline-none focus:bg-grey-100 focus:text-grey-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#090910">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
        </div>
        {{# Mobile menu container with transitions #}}
        <div class="fixed inset-x-0 top-0 z-50 w-screen h-screen overflow-scroll transition origin-top-right transform"
            x-show="open" @click.outside="open = false"
            x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100" x-transition:leave="duration-100 ease-in"
            x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
            <div class="w-full overflow-scroll">
                <div class="absolute top-0 flex-col flex left-0 w-full min-h-full bg-primary-contrast">
                    {{# Menu items wrapper #}}
                    <div class="absolute top-0 right-0 z-10">
                        <button type="button" @click="toggleMenu()"
                            disabled x-bind:disabled="disabled"
                            class="relative m-4 p-2 px-4 bg-primary-accent text-white transition duration-150 ease-in-out svg-fill focus:outline-none uppercase font-heading text-10">
                            X
                        </button>
                    </div>
                    {{ partial:navigation_mobile show_home_logo="true" active_class="text-primary-accent" class="" }}
                </div>
            </div>
        </div>
    </div>
</header>

{{# Optional banner #}}
{{ if banner }}
    <div class="banner relative w-full pt-6 xl:pt-0 mt-10 xl:mt-52">
        {{ banner }}
    </div>
{{ /if }}