{{ nav_logo = style == 'contrast' ? '/assets/img/logo-alt.png': '/assets/img/logo.png' }}

{{ nav:main }}
    {{ if page.slug == 'home' && show_home_logo == true }}
        <div class="w-full p-10 pb-0">
            <a href="{{ homepage }}" class="flex justify-start w-full {{ class }}"><img class="max-w-full max-h-full" src="{{ nav_logo }}" alt="{{ title }}"></a>
        </div>
        {{ partial:decoration/line }}
    {{ elseif slug == page.slug || segment_1 == page.slug }}
        <span class="flex w-full items-center h-auto px-10 py-4 cursor-default border-b border-b-transparent {{ class }} {{ active_class }}">{{ title }}</span>
    {{ else }}
        <a href="/{{ page.slug != 'home' ?= page.slug }}"
            class="flex w-full items-center h-auto px-10 py-4 border-b border-transparent hover:bg-primary-accent hover:text-white {{ class }}">{{
            title }}</a>
    {{ /if }}
{{ /nav:main }}