<div class="flex flex-row w-3/4">
    <img class="object-cover w-96" style="object-position: {{ featured_image:focus_css }}" src="{{ featured_image }}"
        alt="{{ featured_image:alt ?? title }}" />
    <div class="flex flex-col p-12 shadow-custom">
        <span class="meta">{{ if category-prefix }}{{ category-prefix }} - {{ /if }}{{ category }}</span>
        <h3>{{ title }}</h3>
        <p class="mb-0">{{ teaser }}</p>
        {{ partial:buttons/more :url="url" :title="title" }}
    </div>
</div>