<article class="relative">
    <img src="{{ featured_image }}" class="object-cover w-full h-96 lg:h-[48rem] mb" style="object-position:{{ featured_image:focus_css }}">
    <div class="flex flex-col-reverse lg:flex-row w-full">
        {{ partial:company/simple :logo="member:logo" :title="member:title" text="Dutch Laravel Foundation lid" class="w-full lg:absolute lg:w-3/12 lg:top-[40rem] lg:right-0 lg:z-20 mb" link="/leden/{ member:slug }" }}
        <div class="relative w-full lg:w-11/12 lg:mx-auto bg-white lg:-mt-64 min-h-[10rem] px-6 sm:px-0 lg:px-10 lg:pt-10 z-10 mb">
            <div class="w-full lg:w-4/6 mb-half">
                <h1>{{ title_long }}</h1>
                <div class="mb-half">{{ introduction }}</div>
                {{ if client:title }}
                    {{ partial:blocks/meta-alt title="Opdrachtgever" :text="client:title" class="px-0" }}
                {{ /if }}
                {{ partial:decoration/line }}
                <div class="w-screen -ml-6 sm:w-full sm:ml-0">
                    {{ content }}
                        {{ partial src="sets/autoload" }}
                    {{ /content }}
                </div>
            </div>
        </div>
    </div>
</article>
<div class="flex mx-auto mb w-full lg:w-11/12 px-6 sm:px-0 lg:px-10">
    {{ partial:buttons/light link="/{{ segment_1 }}" class="w-full sm:w-auto" button_class="w-full sm:w-auto" }}Naar alle cases{{ /partial:buttons/light }}
</div>