{{# Top background image #}}
{{ partial:decoration/floor-background background="floor-top-insights" /}}

{{ content }}
    {{ partial src="sets/autoload" }}
{{ /content }}

{{ highlighted_id = {collection:insights highlight:is="true" limit="1" sort="updated:desc"} pluck('id') }}

{{ insight_count = { collection:count in="insights" id:not="{ highlighted_id.0 }" } }}
<section class="pb-10">
    {{ if insight_count > 0 }}
        {{ collection:insights id:not="{ highlighted_id.0 }" limit="1" }}
            <div class="w-full lg:w-11/12">
                {{ partial:blocks/image-left-large class="" :image="featured_image" :category="category" link="/insights/{ slug }" }}
                    {{ introduction }}
                {{ /partial:blocks/image-left-large }}
            {{ /collection:insights }}
        </div>
    {{ /if }}

    {{ if insight_count > 1 }}
        {{ collection:insights id:not="{ highlighted_id.0 }" limit="1" offset="1" }}
            {{ partial:blocks/image-left class="w-full lg:!w-11/12 lg:ml-auto" :image="featured_image" :category="category" link="/insights/{ slug }" }}
                {{ introduction }}
            {{ /partial:blocks/image-left }}
        {{ /collection:insights }}
    {{ /if }}

    {{ if highlighted_id.0 }}
        {{ collection:insights id:is="{ highlighted_id.0 }" limit="1" }}
            {{ partial:blocks/image-highlight class="xl:w-11/12" :image="featured_image" :category="category" link="/insights/{ slug }" }}
                {{ introduction }}
            {{ /partial:blocks/image-highlight }}
        {{ /collection:insights }}
    {{ /if }}

    {{ if insight_count > 2 }}
        {{ collection:insights id:not="{ highlighted_id.0 }" offset="2" }}
            {{ partial:blocks/image-left class="w-full lg:!w-11/12 { switch between='{{ highlighted_id.0 ? "lg:ml-auto|" : "|lg:ml-auto" }}' }" :image="featured_image" :category="category" link="/insights/{ slug }" }}
                {{ introduction }}
            {{ /partial:blocks/image-left }}
        {{ /collection:insights }}
    {{ /if }}
</section>