<div class="block-base flex flex-col p-6 lg:p-10 pb-12 bg-white shadow-custom w-full {{ class }}">
    {{ if category }}
        <span class="meta">{{ category }}</span>
    {{ /if }}
    {{ if title }}
        {{ if link }}
            <a href="{{ link }}" title="{{ title }}">
        {{ /if }}
            <h3 class="block w-full">{{ title }}</h3>
        {{ if link }}
            </a>
        {{ /if }}
    {{ /if }}
    {{ if link }}
        <a href="{{ link }}" title="{{ title }}" class="!text-primary-text">
    {{ /if }}
        {{ slot }}
    {{ if link }}
        </a>
    {{ /if }}
</div>