<div class="relative flex flex-row w-full mb-32 {{ class }}">
    {{ partial:blocks/base class="w-2/3 pl-36" :category="category" }}
        <div class="absolute h-full bg-tertiary-regular top-0 left-0 w-24 p-6 text-center text-white">
            <span class="block text-2xl">{{ date_start format="j" }}</span>
            <span class="block text-lg">{{ date_start format="M" | strtolower }}</span>
        </div>
        {{ slot }}
    {{ /partial:blocks/base }}
    {{ if image }}
        <img class="absolute top-0 right-0 object-cover w-1/2 h-[calc(100%+3rem)] -mt-[1.5rem] z-[-1]" style="object-position:{{ featured_image:focus_css }}"
            src="{{ image }}" alt="{{ image:alt ?? title }}" />
    {{ /if }}
</div>