<div class="block-image-left group-image-hover relative flex flex-col lg:flex-row w-full mb {{ class }}" data-aos="fade-up" data-aos-delay="250">
    <figure class="w-full overflow-hidden bg-secondary-light min-h-48 lg:w-1/3">
        {{ if image }}
        <img class="object-cover w-full max-w-full min-w-full min-h-full" style="object-position:{{ featured_image:focus_css }}"
            src="{{ featured_image }}" alt="{{ featured_image:alt ?? title }}" />
        {{ /if }}
    </figure>
    {{ partial:blocks/base class="w-full lg:w-2/3" }}
        {{ slot }}
    {{ /partial:blocks/base }}
    {{ partial:buttons/more :link="link" class="" button_class="" background_class="" }}
</div>