<div
    class="block-image flex flex-row bg-secondary-light mb-16 {{ if featured-image-size === 'large'}} ml-96 mt-48 {{ /if }} {{ class }}">
    {{ if image }}
    <img class="object-cover w-96 {{ if featured-image-size === 'large'}} absolute -z-10 w-[36rem] -translate-y-48 -translate-x-96 {{ /if }}"
        style="object-position:{{ featured_image:focus_css }}" src="{{ featured_image }}"
        alt="{{ featured_image:alt ?? title }}" />
    {{ /if }}
    {{ partial:blocks/base class="w-2/3" }}
</div>