<div class="block-image-right-larger relative flex flex-col lg:flex-row w-full mb {{ class }}">
    <div class="right-0 w-full lg:absolute bg-secondary-light h-96 lg:w-5/6">
        {{ if image }}
            <img class="object-cover w-full h-full max-w-full max-h-full" style="object-position:{{ featured_image:focus_css }}"
                src="{{ featured_image }}" alt="{{ featured_image:alt ?? title }}" />
        {{ /if }}
    </div>
    {{ partial:blocks/base class="relative z-10 w-full lg:w-2/3 lg:mt-48" }}
    {{ slot }}
        {{ partial:buttons/more :link="link" class="" button_class="" background_class="" }}
    {{ /partial:blocks/base }}
</div>