<div
    class="relative flex flex-row w-full py-10 ml-auto block-image-hightlight mb">
    <div class="absolute w-screen -ml-[50vw] left-1/2 bg-secondary-light bg-floor-primary bg-center bg-no-repeat h-full -z-10 -translate-y-10 sm:-translate-y-10"></div>
    {{# Copy of left-large adjusted for highlight #}}
    <div class="relative flex flex-col xl:flex-row w-full {{ class }}">
        <div class="w-full xl:absolute bg-secondary-light h-96 xl:w-1/2">
            {{ if image }}
                <img class="object-cover w-full h-full max-w-full max-h-full" style="object-position:{{ featured_image:focus_css }}"
                    src="{{ featured_image }}" alt="{{ featured_image:alt ?? title }}" />
            {{ /if }}
        </div>
        {{ partial:blocks/base class="xl:ml-[33.33333%] w-full xl:w-2/3 xl:mt-48 z-10" }}
            {{ slot }}
            {{ partial:buttons/more :link="link" class="" button_class="" background_class="" }}
        {{ /partial:blocks/base }}
    </div>
</div>
