<div class="relative flex flex-col lg:flex-row w-full mb {{ class }}">
    <div class="lg:absolute bg-secondary-light h-96 w-full lg:w-1/2 left-0">
        {{ if image }}
            <img class="object-cover w-full max-w-full h-full max-h-full" style="object-position:{{ featured_image:focus_css }}"
                src="{{ featured_image }}" alt="{{ featured_image:alt ?? title }}" />
        {{ /if }}
    </div>
    {{ partial:blocks/base class="lg:ml-[25%] w-full lg:w-3/4 lg:mt-48 z-10" }}
        {{ slot }}
        {{ partial:buttons/more :link="link" class="" button_class="" background_class="" }}
    {{ /partial:blocks/base }}
</div>