<div class="relative w-full py-10 mb-16">
    <div class="relative flex flex-row w-full mb-10 {{ class }}">
        <div class="absolute w-[100vw] ml-[-50vw] left-1/2 bg-secondary-light bg-floor-primary bg-center bg-no-repeat h-[calc(100%+2.5rem+5rem)] -translate-y-10 z-[-1]"></div>
        {{ if image }}
            <img class="object-cover w-1/2" {{# TODO: Set Antlers view var using focus_css #}}
                style="object-position: {{ featured_image:focus_css }}" :src="featured_image"
                alt="{{ featured_image:alt ?? title }}" />
        {{ /if }}
        {{ partial:blocks/base class="w-2/3 absolute right-0 bottom-0 translate-y-10" }}
            {{ slot }}
        {{ /partial:blocks/base }}
        {{# TODO: Better fix for bottom right button alignment #}}
        {{ partial:buttons/more url="insights/{ slug }" class="translate-y-10 hover:!translate-y-[calc(2.5rem-4px)]" }}
    </div>
</div>