<div
    class="relative flex flex-row w-full mb-[6.5rem] {{ class }}">
    {{ if image }}
        <img class="object-cover w-1/2 right-0" style="object-position:{{ featured_image:focus_css }}"
            src="{{ featured_image }}" alt="{{ featured_image:alt ?? title }}" />
    {{ /if }}
    {{ partial:blocks/base class="w-2/3 absolute left-0 bottom-0 translate-y-10" }}
        {{ slot }}
        {{ partial:buttons/more :link="link" class="" button_class="" background_class="" }}
    {{ /partial:blocks/base }}
</div>