<div class="block-meta-alt px-6 sm:px-0 flex flex-col w-full {{ class }}">
    {{ if title }}
        <span class="meta !mb-0">{{ title }}</span>
    {{ /if }}
    {{ if text }}
        {{ if link }}
            <a href="{{ link }}" {{ if target == 'blank' }} target="_blank" {{ /if }} title="{{ text }}"><h4 class="text-primary-accent block w-full {{ link_class }}">{{ text }}</h4></a>
        {{ else }}
            <h4 class="block w-full">{{ text }}</h4>
        {{ /if }}
    {{ /if }}
    {{ slot }}
</div>