<div class="px-6 sm:px-0">
    <h1>Bedankt voor je interesse!</h1>
    <p class="w-full sm:w-3/4 mb">Wij nemen zo spoedig mogelijk contact met je op. Neem ondertussen een kijkje in onze agenda of lees meer over ons.</p>
    <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-6">
        {{ partial:buttons/primary link="/agenda" class="w-full sm:w-auto" button_class="w-full" }}Bekijk onze agenda{{ /partial:buttons/primary }}
        {{ partial:buttons/light link="/over-ons" class="w-full sm:w-auto" button_class="w-full" }}Lees meer over ons{{ /partial:buttons/light }}
    </div>
</div>