<div class="set set-double-column set-home-double-column w-full sm:w-2/3 mr-auto !px-0">
    {{ heading }}
</div>
<div class="set set-double-column set-home-double-column flex flex-col lg:flex-row justify-start !px-0">
    <div class="w-full lg:w-3/4 3xl:w-1/2 lg:pr-10">
        {{ left }}
            {{ partial src="sets/autoload" }}
        {{ /left }}
    </div>
    <div class="flex w-full lg:w-1/4 3xl:w-1/2 pt-4 lg:pt-0 lg:pl-10 lg:flex-row-reverse items-end !px-0">
        {{ right }}
            {{ partial src="sets/autoload" }}
        {{ /right }}
    </div>
</div>