<div class="flex flex-row w-full">
    <div class="w-4/6 pr-20">
        {{ form:contact }}
            {{ if success }}
                <div class="bg-secondary-light p-10">
                    {{ success }}
                </div>
            {{ else }}

                {{ if errors }}
                    <div class="bg-primary-accent text-primary-contrast p-10 mb-6">
                        Er ging iets mis. Controleer de foutmelding(en) hieronder.
                    </div>
                {{ else }}
                    {{ content }}
                        {{ partial src="sets/autoload" }}
                    {{ /content }}
                {{ /if }}

                <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">

                {{ fields }}
                    {{ if handle != 'agree' }}
                    <div class="mb-6">
                        <label for="{{ handle }}"><span class="meta">{{ display }}</span></label>
                        {{ if instructions_position == 'above' }}
                            {{ instructions }}
                        {{ /if }}
                        {{# Add ID to field #}}
                        {{ field regex_replace="^<([a-z]+)|<\\1 id='{ handle }'" regex_replace="" }}
                        {{ if instructions_position == 'below' }}
                            {{ instructions }}
                        {{ /if }}
                        {{ if error }}
                            <p class="text-primary-accent">{{ error }}</p>
                        {{ /if }}
                    </div>
                    {{ else }}
                        <div class="mb-6 flex flex-row justify-between">
                            <div class="flex flex-row w-4/6 text-tertiary-light">{{ field replace="<br>|" }}<span class="ml-2">{{ display regex_replace="(privacy statement)|<a href='/privacy-statement'>\\1</a>" }}</span></div>
                            {{ partial:buttons/primary type="submit" }}Versturen{{ /partial:buttons/primary }}
                        </div>
                    {{ /if }}
                {{ /fields }}
            {{ /if }}
        {{ /form:contact }}
    </div>

    <div class="w-2/6">
        {{ partial:company/base :logo="dlf:logo" class="mt-10 pb-10 px-10 w-full overflow-hidden" }}
        <h4 class="w-min">{{ dlf:title }}</h4>
        <p>{{ dlf:address }}<br>{{ dlf:zipcode }} {{ dlf:city }}</p>
        <p>
            <a href="tel:{{ dlf:phone }}" class="text-primary-accent">{{ dlf:phone }}</a>
            <a href="mailto:{{ dlf:email }}" class="text-primary-accent">{{ dlf:email }}</a>
        </p>
        <p>KVK: {{ dlf:coc }}</p>
        {{ /partial:company/base }}
    </div>
</div>