/* Main styling */
html {
    @apply overflow-x-hidden text-tertiary-regular;
}

body {
    @apply overflow-x-hidden;
}

.container {
    width: 100%;
    max-width: 1230px;
}

h1 {
    @apply mb-10 text-2xl font-bold break-words md:text-5xl text-tertiary-dark;
}

h2 {
    @apply mb-3 text-xl break-words md:mb-8 md:text-3xl text-tertiary-dark;
}

h3 {
    @apply mb-6 text-lg break-words md:text-xl text-tertiary-dark;
}

h4 {
    @apply mb-4 text-base font-bold break-words md:text-lg text-tertiary-dark;
}

p {
    @apply mb-3 text-base break-words;
}

span.meta,
span.meta-dark {
    @apply mb-3 text-base font-semibold uppercase break-words md:text-xs text-tertiary-light;
    @layer letter-spacing-[.12em];
}

span.meta-dark {
    @apply text-tertiary-dark;
}

a {
    @apply transition-all cursor-pointer text-tertiary-dark hover:text-primary-accent;
}

#content a {
    @apply transition-colors text-primary-accent hover:text-tertiary-regular;
}

nav {
    @apply text-base font-bold text-tertiary-dark;
}

footer {
    @apply text-sm;
}

#content ul {
    @apply pl-2 list-disc list-outside;
}

#content ul li {
    @apply pl-3;
}

#content ul li::marker {
    @apply text-primary-accent font-bold inline w-[1em] -ml-[1em] content-["\2022"];
}

#content ol {
    @apply pl-4 list-decimal list-outside;
}

#content ol li {
    @apply pl-1;
}

#content ol li::marker {
    @apply inline w-[1em] -ml-[1em];
}

article img {
    @apply w-full;
}

input:not([type="checkbox"]),
textarea {
    @apply w-full !bg-secondary-light border-transparent !ring-0 focus:!outline-none focus:border-primary-accent;
}

input[type="checkbox"] {
    @apply w-6 h-6 mr-2 border rounded bg-secondary-light text-primary-accent focus:ring-primary-accent focus:ring-opacity-25 border-tertiary-light border-opacity-40;
}

.mt {
    @apply mt-6 sm:mt-10 lg:mt-20;
}

.mt-half {
    @apply mt-3 sm:mt-10 lg:mt-10;
}

.mb {
    @apply mb-6 sm:mb-10 lg:mb-20;
}

.mb-half {
    @apply mb-10;
}

[x-cloak] {
    display: none;
}

/* Bard content */
blockquote {
    @apply p-6 bg-secondary-light lg:p-10;
}

/* Sets */
.set {
    @apply px-0;
}

.set .set {
    @apply !px-0;
}

/* Navigation */
.animated {
    will-change: transform;
    -webkit-transition: transform 200ms linear;
    -moz-transition: transform 200ms linear;
    -ms-transition: transform 200ms linear;
    -o-transition: transform 200ms linear;
    transition: transform 200ms linear;
}
.animated.slideDown {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
.animated.slideUp {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

header nav.animated.make-small {
    -webkit-transition: max-height 200ms;
    -moz-transition: max-height 200ms;
    -ms-transition: max-height 200ms;
    -o-transition: max-height 200ms;
    transition: max-height 200ms;
    max-height: 2.5rem;
}

header nav.animated.make-large {
    -webkit-transition: max-height 200ms;
    -moz-transition: max-height 200ms;
    -ms-transition: max-height 200ms;
    -o-transition: max-height 200ms;
    transition: max-height 200ms;
    max-height: 5rem;
}

/* Filter (members page) */
button[data-checked="true"] {
    @apply border-primary-accent opacity-100 !text-tertiary-dark;
}

/* Image group hover */
.group-image-hover > figure img,
.group-image-hover > div figure img,
.group-image-hover > a figure img {
    @apply transition-transform duration-500 ease-in-out
}
.group-image-hover:hover > figure img,
.group-image-hover:hover > div figure img,
.group-image-hover:hover > a figure img {
    @apply scale-105
}