<div class="flex flex-col lg:flex-row justify-between 3xl:justify-center w-full">
    <div class="w-full lg:w-1/2 3xl:w-1/3 4xl:w-1/3 mb">
        {{ form:contact }}
            {{ if success }}
                <div class="px-6 sm:px-0">
                    {{ partial:forms/success }}
                </div>
            {{ else }}

                {{ if errors }}
                    <div class="bg-primary-accent text-primary-contrast p-6 mb-6">
                        Er ging iets mis. Controleer de foutmelding(en) hieronder.
                    </div>
                {{ else }}
                    {{ content }}
                        {{ partial src="sets/autoload" }}
                    {{ /content }}
                {{ /if }}

                <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">
                
                <div class="px-6 sm:px-0">
                    {{ fields }}
                        {{ if handle != 'agree' }}
                            <div class="mb-6 {{ if first }}mt{{ /if }}">
                                <label for="{{ handle }}"><span class="meta">{{ display }}</span></label>
                                {{ if instructions_position == 'above' }}
                                    {{ instructions }}
                                {{ /if }}
                                {{# Add ID to field #}}
                                {{ field regex_replace="^<([a-z]+)|<\\1 id='{ handle }'" regex_replace="" }}
                                {{ if instructions_position == 'below' }}
                                    {{ instructions }}
                                {{ /if }}
                                {{ if error }}
                                    <p class="text-primary-accent">{{ error }}</p>
                                {{ /if }}
                            </div>
                        {{ else }}
                            <div class="flex flex-col lg:flex-row justify-between">
                                <div class="flex flex-row w-full lg:w-4/6 text-tertiary-light mb">
                                    {{ field replace="<br>|" }}<span class="ml-2">{{ display regex_replace="(privacy statement)|<a href='/privacy-statement'>\\1</a>" }}</span>
                                </div>
                                {{ partial:buttons/primary type="submit" class="ml-auto w-full sm:w-auto" button_class="w-full" }}Versturen{{ /partial:buttons/primary }}
                            </div>
                        {{ /if }}
                    {{ /fields }}
                </div>
            {{ /if }}
        {{ /form:contact }}
    </div>

    <div class="w-full lg:w-1/2 xl:w-5/12 2xl:w-1/3 3xl:w-1/3 4xl:w-3/12 mb">
        <div class="px-0 md:px-6 lg:px-10 lg:-mr-10">
            {{ partial:company/base :logo="dlf:logo" class="mt-10 pb-10 px-10 w-full overflow-hidden" }}
            <h4 class="w-min">{{ dlf:title }}</h4>
            <p>{{ dlf:address }}<br>{{ dlf:zipcode }} {{ dlf:city }}</p>
            <p>
                <a href="tel:{{ dlf:phone regex_replace="[^+0-9]|" }}" class="text-primary-accent">{{ dlf:phone }}</a>
                <br/><a href="mailto:{{ dlf:email }}" class="text-primary-accent">{{ dlf:email }}</a>
            </p>
            <p>KVK: {{ dlf:coc }}</p>
            {{ /partial:company/base }}
        </div>
    </div>
</div>