{{ content }}
    {{ partial src="sets/autoload" }}
{{ /content }}

{{# Board #}}

<h2>Bestuur</h2>
<p class="block w-full sm:w-3/4 base:w-2/3 lg:w-1/2 3xl:w-2/5 4xl:w-1/3 mb-5">De Dutch Laravel Foundation wordt gerund door een enthousiast bestuur van zes vrijwilligers die in de dagelijkse praktijk ook met Laravel werken.</p>

<div class="flex flex-wrap -mx-6 overflow-hidden">
    {{ collection:board }}
    {{ partial:blocks/photo :image="photo" :title="title" :text="function" class="my-6 px-6 overflow-hidden w-1/2 md:w-1/3 xl:w-1/4 { switch between='||xl:mr-[25%]|xl:ml-[25%]||' }" }}
    {{ /collection:board }}
</div>


{{# Founding partners #}}
<h2>Founding partners</h2>
<p class="block w-full sm:w-3/4 base:w-2/3 lg:w-1/2 3xl:w-2/5 4xl:w-1/3 mb-5">De volgende bedrijven hebben in 2019 gezamenlijk gewerkt aan de oprichting van de Dutch Laravel Foundation.</p>

<div class="w-full lg:w-11/12 mx-auto pt-0 lg:pt-4">
    <div class="flex flex-wrap -mx-10 overflow-hidden">
        {{ collection:members founding_partner:is="true" }}
            {{ partial:company/simple :logo="logo" :title="title" text="{ arr({ city }, { province:title }) | remove_empty | list }" class="mt-10 pb-10 px-10 overflow-hidden w-full sm:w-1/2 xl:w-1/3 3xl:w-1/4 4xl:w-1/5" link="/leden/{ slug }" }}
        {{ /collection:members }}
    </div>
</div>