{{ content }}
    {{ partial src="sets/autoload" :first="first" :last="last" }}
{{ /content }}

<div
    class="swiper js-reviews-swiper w-full bg-secondary-light mt-20"
    data-loop="true"
    spaceBetween="0"
>
    <div class="swiper-wrapper">
    {{ client_name = null }}
    {{ collection:reviews sort="random" }}
        {{ client_name = null }}
        {{ client }}
            {{ client_name = title }}
        {{ /client }}
        <div class="swiper-slide">
            <div class="w-2/3 mx-auto h-[20rem] max-h-[20rem] py-16 flex flex-col justify-between">
                <h3>{{ content regex_replace="^<p>|<p>&quot;" regex_replace="</p>$|&quot;</p>" }}</h3>
                <div class="flex flex-row items-baseline">
                    <h4 class="mb-0">{{ title }}</h4>
                    <span class="meta ml-4 !mb-0">{{ arr({ function }, { client_name }) | remove_empty | list }}</span>
                </div>
            </div>
        </div>
    {{ /collection:reviews }}
</div>
{{ partial:buttons/swiper class="swiper-button-prev" }}
{{ partial:buttons/swiper class="swiper-button-next" }}
</div>