<article>
    <img src="{{ featured_image }}" class="object-cover w-full h-96 lg:h-[48rem] mb" style="object-position:{{ featured_image:focus_css }}">
    <div class="relative w-full lg:w-11/12 lg:mx-auto bg-white lg:-mt-64 min-h-[10rem] px-6 sm:px-0 lg:p-10 z-10">
        <div class="w-full 2xl:w-2/3 3xl:w-1/2">
            <h1>{{ title }}</h1>
            {{ content }}
                {{ partial src="sets/autoload" }}
            {{ /content }}
            {{ partial:decoration/line }}
        </div>
        {{ partial:blocks/base class=" w-screen -ml-6 sm:ml-0 sm:w-fit mb-half !pb-6 lg:!pb-10" title="" }}
            <div class="flex flex-col space-y-6 sm:table">
                {{ if type }}
                    <div class="flex flex-col sm:table-row">
                        <div class="font-semibold sm:table-cell pr-6 lg:pr-10">Soort event</div>
                        <div class="sm:table-cell ">{{ type }}</div>
                    </div>
                {{ /if }}
                {{ if date_start }}
                    <div class="flex flex-col sm:table-row">
                        <div class="font-semibold sm:table-cell">Datum</div>
                        <div class="sm:table-cell "><span class="capitalize whitespace-nowrap">{{ date_start format_localized="%A" }}</span> {{ date_start format_localized="%e %B %Y" }}</div>
                    </div>
                {{ /if }}
                {{ if time_start }}
                    <div class="flex flex-col sm:table-row">
                        <div class="font-semibold sm:table-cell pr-6 lg:pr-10"></div>
                        <div class="sm:table-cell ">{{ time_start }}{{ time_end ?= ' - { time_end }' }}</div>
                    </div>
                {{ /if }}
                {{ if location }}
                    <div class="flex flex-col sm:table-row">
                        <div class="font-semibold sm:table-cell pr-6 lg:pr-10">Locatie</div>
                        <div class="sm:table-cell ">{{ location }}</div>
                    </div>
                {{ /if }}
                {{ if address }}
                    <div class="flex flex-col sm:table-row">
                        <div class="font-semibold sm:table-cell pr-6 lg:pr-10">Soort event</div>
                        <div class="sm:table-cell ">{{ location }}</div>
                    </div>
                {{ /if }}
            </div>
        {{ /partial:blocks/base }}
        {{ if signup_link }}
        <div class="flex mx-auto mb">
            {{ partial:buttons/primary :link="signup_link" }}Inschrijven{{ /partial:buttons/primary }}
        </div>
        {{ /if }}
    </div>
</article>