<div class="relative container mx-auto mb-52 px-10">
    <div class="absolute w-[100vw] -ml-[50vw] left-1/2 bg-primary-accent bg-floor-filled-light bg-[right_10rem_top_12rem] bg-no-repeat h-[calc(100%+13rem+7.5rem)] -translate-y-[13rem] z-[-1]"></div>
    <div class="relative flex flex-row w-full mb-10 {{ class }}">
        <div class="w-1/2">
            <h1 class="text-white mb-5">{{ header_title }}</h1>
            <div class="text-white mb-10">{{ header_content }}</div>
            <div class="flex flex-row justify-start space-x-5">
                {{ partial:buttons/primary-border link="/leden" }}Zoek Laravel Experts{{ /partial:buttons/primary-border }}
                {{ partial:buttons/primary-border link="/lid-worden" }}Word lid{{ /partial:buttons/primary-border }}
            </div>
        </div>
    </div>
    {{ partial:buttons/primary link="/leden" class="absolute bottom-0 right-[8rem] translate-y-52 hover:!translate-y-[calc(13rem-4px)]" }}Bekijk al onze leden{{ /partial:buttons/primary }}
</div>