<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/oap5ojy.css">
    <link rel="stylesheet" href="{{ mix src='assets/css/tailwind.css' }}">
</head>

{{# TODO: Multiple background images, adjustable per page #}}

<body class="font-sans leading-normal bg-white text-primary-text">
    <div class="frontend flex flex-col h-screen justify-between page-{{ slug }}">
        {{ partial:header }}
        {{ partial:content }}
        {{ partial:footer }}
    </div>
    <script src="{{ mix src='assets/js/site.js' }}"></script>
</body>

</html>