<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    {{ if environment === 'production' }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1T344V7V5E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-1T344V7V5E');
    </script>
    {{ /if }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ site_title = meta_title ?? title }}
    {{ site_name = seo:meta_title ?? site:name  }}
    <title>{{ if site_title }}{{ site_title }} - {{ /if }}{{ site_name }}</title>
    {{ meta_description_text = meta_description ? meta_description : seo:meta_description }}
    {{ if meta_description_text }}
        <meta name="description" content="{{ meta_description_text }}"/>
    {{ /if }}
    {{ meta_keywords_text = meta_keywords ? meta_keywords : seo:meta_keywords }}
    {{ if meta_keywords_text }}
        <meta name="keywords" content="{{ meta_keywords_text }}"/>
    {{ /if }}
    <meta property="og:title" content="{{ if title_text }}{{ title_text }} - {{ /if }}{{ site:name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ current_url }}" />
    {{ meta_description_text = meta_description ? meta_description : seo:meta_description }}
    {{ if meta_description_text }}
        <meta property="og:description" content="{{ meta_description_text }}">
    {{ /if }}
    {{ opengraph_image = opengraph:opengraph_image ?? "/og-image.png" }}
    <meta property="og:image" content="{{ site:url }}{{ opengraph_image }}" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://use.typekit.net/oap5ojy.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ mix src='assets/css/tailwind.css' }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body class="font-sans leading-normal bg-white text-primary-text">
    <div class="frontend relative page-{{ slug }}">
        {{ partial:header }}
        {{ partial:content }}
        {{ partial:footer }}
    </div>

    {{ dynamic_token }}
    <script src="{{ mix src='assets/js/site.js' }}"></script>
    {{ recaptcha }}
</body>

</html>
